@font-face {
  font-family: montserrat;
  src: url(Montserrat-Regular.ttf);
}

body {
  background-image: url("./imgs/black_background.png");
  background-size: cover;
  font-family: montserrat !important;
}

.social-link {
  color: inherit;
  transition-property: color;
  transition-duration: 0.3s;
}

.social-link:hover {
  color: #0d0e10;
}

.card {
  border-radius: 20px !important;
}

a.card {
  color: inherit;
  transition-property: background-color;
  transition-duration: 0.5s;
}

a.card:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  background-color: #cccccc;
}
