@font-face {
  font-family: montserrat;
  src: url(Montserrat-Regular.ttf);
}

body {
  background-image: url("./imgs/black_background.png");
  background-size: cover;
  font-family: montserrat !important;
}

.social-link {
  color: inherit;
  transition-property: color;
  transition-duration: 0.3s;
}

.social-link:hover {
  color: #0d0e10;
}
